body {


    background-image: url("file:///Users/vitamind/Desktop/Trivia-Game/assets/images/Cabinet-of-Curiosities-l.jpg");
}

img.bg {
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#triviaBox{
    z-index: 100;
      width: 70%;
      height: 400px;
      background-color: #ffff66;
      position: relative;
      margin: auto;
      margin-top: 150px;
      border: 3px solid green;
    padding: 10px;
    overflow: auto;
    box-sizing:border-box;

}
#startButton{

    background-color: #0099cc;
    width: 200px;
    height: auto;
    margin: 0px 250px 50px;
    left: 500px;
    border: 3px solid green;
    padding: 20px;
    right: 100px;
    box-sizing:border-box;
    display: block;


}
button:hover {
  background: green;
  border: 2px solid blue;
}
h1{

  font-family: 'Cabin Sketch', cursive;
  font-size: 490%;
  margin: auto;
  position: relative;
}

h2.gameTitle {
font-size: 450%;
text-align: center;
font-family: 'IM Fell English SC', serif;

}

#counter{
    
font-size: 450%;
text-align: center;
font-family: 'IM Fell English SC', serif;
} 
